{% block title %}RSS Feed{% endblock%}
{% extends "base.html" %}
{% block head %}
<script>
    let tz = "timezone=" + new Date().getTimezoneOffset();
    document.cookie = tz;

    const eventSource = new EventSource("/stream");
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
    eventSource.onmessage = function(event) { // console.log("appending message: ");
        // console.log(event.data);
        let parsedData = JSON.parse(event.data);
        let sender = parsedData.sender;
        let message = parsedData.message;

        document.getElementById("messages").insertAdjacentHTML("afterbegin", message);

        // Check if the browser supports notifications
        if (sender != getCookie("sender-name") && "Notification" in window) {
            if (Notification.permission === "granted" && !document.hasFocus()) {
                // Create the notification
                var notification = new Notification("New message", {
                    body: sender + " sent a message",
                });
            }
        }
    };
    eventSource.onerror = function() {
        console.error("Error occurred in SSE connection");
    };

    window.addEventListener("beforeunload", (event) => {
        if (eventSource) {
            eventSource.close();
            console.log("SSE connection closed");
        }
    });
    function togglePickerOpen() {
        let pickerDialog = document.getElementById("pickerDialog");
        if (pickerDialog.open) {
            pickerDialog.close();
            document.getElementById("message-input").focus();
        } else {
            pickerDialog.showModal();
        }
    }
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelector('emoji-picker')
            .addEventListener('emoji-click', function(event) {
                document.getElementById("message-input").value += event.detail.unicode;
                togglePickerOpen();
            });
        document.getElementById("emoji-icon").addEventListener("click", function(event) {
            event.preventDefault()
            togglePickerOpen();
        });
    });
</script>
{% endblock %}
{% block content %}
<div id="messages"></div>

<dialog id="pickerDialog"><emoji-picker></emoji-picker><!-- <button onclick="togglePickerOpen()">Close</button> --></dialog>

<form method="POST" id="send-message-form" hx-post="/send" hx-swap="none" hx-reset-on-success class="fixed bottom-0 left-0 flex w-screen flex-row items-center justify-center gap-2 bg-gray-200 p-3">
    <div class="h-12 basis-2/3 rounded-sm bg-gray-50 shadow-xl ring-2 ring-gray-100 transition focus:outline-none focus:ring-gray-700 flex flex-row">
        <input placeholder="Your message..." required type="text" name="contents" class="h-12 basis-2/3 rounded-sm bg-gray-50 px-3 ring-2 ring-gray-100 transition focus:outline-none focus:ring-gray-700 w-full flex-grow" autocomplete="off" spellcheck="false" id="message-input"/>
        <img src="emoji.png" class="max-h-full" id="emoji-icon"/>
    </div>
    <button type="submit" class="h-12 basis-10 cursor-pointer rounded-sm bg-gray-50 px-3 font-bold shadow-xl ring-2 ring-gray-100 transition hover:bg-gray-800 hover:text-white hover:ring-0">Send</button>
</form>
{% endblock %}
