<!-- <div class="px-2 py-4 hover:bg-gray-200 transition">
  <span class="font-bold text-gray-700">{{ message.sender }}</span>
  <div class="flex flex-row">
    <div>
      <span class="basis-1/2">{{ message.contents }}</span>
      {% let message = message.clone() %}
      <span class="text-right basis-1/2 text-gray-700">{{ self::format_datetime(message.sent_date) }}</span>
    </div>
  </div>
</div> -->
<div class="px-2 py-4 hover:bg-gray-200 transition flex flex-row">
  <div class="basis-1/2">
    <div class="font-bold text-gray-700">{{ message.sender }}</div>
    <div>{{ message.contents }}</div>
  </div>
  <div class="basis-1/2 text-right text-gray-700 flex flex-row items-center">
    <div class="text-right w-full">
      {{ self::format_datetime(message.sent_date) }}
    </div>
  </div>
</div>
